venv
venv/
venv/Scripts
venv/Scripts/
Tester/tester.py
.idea
.idea/
Template/unit_tests_problem_15.py
Template/README.md
Template/problem_15.py
Template/problem_.py
Template/unit_tests_problem_.py
.idea/misc.xml
.idea/ProjectEuler.iml
.idea/workspace.xml
venv/Scripts/activate
venv/Scripts/activate.bat
venv/Scripts/Activate.ps1
venv/Scripts/deactivate.bat
venv/Scripts/easy_install.exe
venv/Scripts/pip.exe
venv/Scripts/pip3.exe
venv/Scripts/python.exe
venv/Scripts/python3.dll
venv/Scripts/pythonw.exe
