venv
venv/
venv/Scripts
venv/Scripts/
Tester/tester.py
.idea
.idea/
.idea/misc.xml
.idea/ProjectEuler.iml
.idea/workspace.xml
venv/Scripts
venv/Scripts/
Problem_1/__pycache__
Problem_1/__pycache__
Problem_10/__pycache__
Problem_10/__pycache__/
Problem_11/__pycache__/
Problem_14/__pycache__/
Problem_13/__pycache__
Problem_13/__pycache__/
Problem_12/__pycache__
Problem_12/__pycache__/
Problem_11/__pycache__/
Problem_17/__pycache__
Problem_17/__pycache__/
Problem_14/__pycache__/
Problem_15/__pycache__
Problem_15/__pycache__/
Problem_16/__pycache__
Problem_16/__pycache__/
Problem_6/__pycache__/
Problem_2/__pycache__
Problem_2/__pycache__/
Problem_3/__pycache__
Problem_3/__pycache__/
Problem_4/__pycache__/
Problem_5/__pycache__
Problem_5/__pycache__/
Problem_4/__pycache__/
Problem_9/__pycache__
Problem_9/__pycache__/
Problem_8/__pycache__
Problem_8/__pycache__/
Problem_7/__pycache__
Problem_7/__pycache__/
Problem_6/__pycache__/
.idea/workspace.xml
tests/__pycache__
tests/__pycache__/
Problem_67/__pycache__/
tests/__pycache__/
.coverage
Problem_2/tests/__pycache__/
Problem_2/tests/__pycache__/
Problem_28/tests/test_problem_28.py___jb_tmp___
.travis.yml___jb_tmp___
Problem_20/problem_20.py___jb_tmp___
