venv
venv/
venv/Scripts
venv/Scripts/
Tester/tester.py
.idea
.idea/
Template/unit_tests_problem_15.py
Template/README.md
Template/problem_15.py
Template/problem_.py
Template/unit_tests_problem_.py
.idea/misc.xml
.idea/ProjectEuler.iml
.idea/workspace.xml
venv/Scripts/activate
venv/Scripts/activate.bat
venv/Scripts/Activate.ps1
venv/Scripts/deactivate.bat
venv/Scripts/easy_install.exe
venv/Scripts/pip.exe
venv/Scripts/pip3.exe
venv/Scripts/python.exe
venv/Scripts/python3.dll
venv/Scripts/pythonw.exe
Problem_1/__pycache__/problem_1.cpython-37.pyc
Problem_1/__pycache__/test_problem_1.cpython-37.pyc
Problem_10/__pycache__/problem_10.cpython-37.pyc
Problem_10/__pycache__/test_problem_10.cpython-37.pyc
Problem_11/__pycache__/problem_11.cpython-37.pyc
Problem_14/__pycache__/problem_14.cpython-37.pyc
Problem_13/__pycache__/test_problem_13.cpython-37.pyc
Problem_13/__pycache__/problem_13.cpython-37.pyc
Problem_12/__pycache__/test_problem_12.cpython-37.pyc
Problem_12/__pycache__/problem_12.cpython-37.pyc
Problem_11/__pycache__/test_problem_11.cpython-37.pyc
Problem_17/__pycache__/test_problem_17.cpython-37.pyc
Problem_17/__pycache__/problem_17.cpython-37.pyc
Problem_14/__pycache__/test_problem_14.cpython-37.pyc
Problem_15/__pycache__/problem_15.cpython-37.pyc
Problem_15/__pycache__/test_problem_15.cpython-37.pyc
Problem_16/__pycache__/problem_16.cpython-37.pyc
Problem_16/__pycache__/test_problem_16.cpython-37.pyc
Problem_6/__pycache__/problem_6.cpython-37.pyc
Problem_2/__pycache__/problem_2.cpython-37.pyc
Problem_2/__pycache__/test_problem_2.cpython-37.pyc
Problem_3/__pycache__/problem_3.cpython-37.pyc
Problem_3/__pycache__/test_problem_3.cpython-37.pyc
Problem_4/__pycache__/test_problem_4.cpython-37.pyc
Problem_5/__pycache__/problem_5.cpython-37.pyc
Problem_5/__pycache__/test_problem_5.cpython-37.pyc
Problem_4/__pycache__/problem_4.cpython-37.pyc
Problem_9/__pycache__/test_problem_9.cpython-37.pyc
Problem_9/__pycache__/problem_9.cpython-37.pyc
Problem_8/__pycache__/test_problem_8.cpython-37.pyc
Problem_8/__pycache__/problem_8.cpython-37.pyc
Problem_7/__pycache__/test_problem_7.cpython-37.pyc
Problem_7/__pycache__/problem_7.cpython-37.pyc
Problem_6/__pycache__/test_problem_6.cpython-37.pyc
.idea/workspace.xml
